<div class="table-container">
  <div class="table-container-header">
      <select [(ngModel)]="selectedView" class="dropdown">
        <option value="vehicles">Vehicles</option>
        <option value="equipment">Equipment</option>
        <option value="staff">Staff</option>
      </select>
      <button class="btn-new" (click)="navigateToAddResource()">+ New</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th *ngIf="selectedView === 'vehicles'">Plate Number</th>
        <th *ngIf="selectedView === 'vehicles'">Capacity</th>
        <th *ngIf="selectedView === 'equipment'">Available Units</th>
        <th *ngIf="selectedView === 'equipment'">Total Units</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredResources">
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td *ngIf="selectedView === 'vehicles'">{{ item.plateNumber }}</td>
        <td *ngIf="selectedView === 'vehicles'">{{ item.capacity }}</td>
        <td *ngIf="selectedView === 'equipment'">{{ item.availableUnits }}</td>
        <td *ngIf="selectedView === 'equipment'">{{ item.totalUnits }}</td>
        <td>
          <span [ngClass]="getStatusClass(item.status)">{{ item.status }}</span>
        </td>
        <td>
          <button (click)="editResource(+item._id)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
