<div class="container">
  <!-- Header -->
  <div class="header">
    <div class="back-button" (click)="goBack()">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    <h2 class="title">New Item</h2>
    <div class="actions">
      <button class="btn save" (click)="saveEquipment()">Save</button>
    </div>
  </div>
  <hr />

  <!-- Content Section -->
  <div class="content">
    <form class="form-section">
      <div class="form-group">
        <label for="name">Name<span class="required">*</span></label>
        <input
          type="text"
          id="name"
          [(ngModel)]="equipment.name"
          name="name"
          required
        />
      </div>
      <div class="form-group">
        <label for="category">Category<span class="required">*</span></label>
        <select
          id="category"
          [(ngModel)]="equipment.category"
          name="category"
          required
          (change)="onCategoryChange()"
        >
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>

      <!-- Modal for adding new category -->
      <!-- Modal overlay -->
      <div class="modal-overlay" *ngIf="showModal"></div>
      <!-- Modal -->
      <div *ngIf="showModal" class="modal">
        <h3>Add New Category</h3>
        <input
          type="text"
          [(ngModel)]="newCategory"
          name="newCategory"
          placeholder="Enter new category"
        />

        <button class="Addmodal" (click)="addNewCategory()">Save</button>
        <button class="Cancelmodal" (click)="closeModal()">Cancel</button>
      </div>

      <div class="form-group">
        <label for="status">Status<span class="required">*</span></label>
        <select
          id="status"
          [(ngModel)]="equipment.status"
          name="status"
          required
          (ngModelChange)="onStatusChange($event)"
        >
          <option value="Available">Available</option>
          <option value="Maintenance">Maintenance</option>
        </select>
      </div>
      <div class="form-group">
        <label for="maintenanceDate">Maintenance Date</label>
        <input
          type="date"
          id="maintenanceDate"
          [(ngModel)]="equipment.maintenanceDate"
          name="maintenanceDate"
        />
      </div>
    </form>

    <div class="right-column">
      <div class="image-section">
        <div class="image-placeholder" (click)="onBrowseImage()">
          <!-- ถ้ามีการเลือกภาพแล้ว ให้แสดงภาพที่เลือก -->
          <img *ngIf="previewImage" [src]="previewImage" alt="Selected Image" />
          <!-- ถ้ายังไม่มีการเลือกภาพ แสดงข้อความและไอคอน -->
          <div *ngIf="!previewImage" class="browse-container">
            <span class="browse-text">Browse image</span>
            <img class="upload-icon" src="upload-icon.png" alt="Upload Icon" />
          </div>
        </div>
        <!-- ปุ่มเลือกไฟล์ที่ซ่อนอยู่ -->
        <input
          type="file"
          id="imageUpload"
          (change)="onImageSelected($event)"
          accept="image/*"
          hidden
        />
        <!-- ถ้าผู้ใช้เลือกภาพแล้ว แสดงปุ่มถังขยะ -->
        <div
          *ngIf="previewImage"
          class="trash-container"
          (click)="removeImage()"
        >
          <img class="trash-icon" src="upload-icon.png" alt="Delete Image" />
        </div>
      </div>

      <!-- ส่วนแสดงผลทางด้านขวา -->
      <div class="form-data-container">
        <h3 *ngIf="equipment.name">{{ equipment.name }}</h3>
        <ul>
          <li>
            <strong>Category</strong>
            <span>{{ equipment.category ? equipment.category : "-" }}</span>
          </li>

          <li>
            <strong>Status</strong>
            <span [ngClass]="getStatusClass(equipment.status)">
              {{ equipment.status || "-" }}
            </span>
          </li>
          <li>
            <strong>Maintenance Date</strong>
            <span>{{
              equipment.maintenanceDate
                ? (equipment.maintenanceDate | date : "dd/MM/yyyy")
                : "-"
            }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
