/* General Layout */
.main-container {
  padding: 20px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.form-container {
  width: 50%; /* ลดขนาดให้เหมาะสม */
}
.result-section {
  width: 45%; /* ให้มีพื้นที่แสดงผล */
  padding: 10px;
  border-left: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 30px;
}
td.status-available {
  color: #77BFA3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
}

.actions .btn {
  margin-left: 10px;
  padding: 5px 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn.gray {
  background-color: #ccc;
  color: #333;
}

hr {
  margin: 20px 0;
  border-color: #ddd;
}

/* Form Section */
.form-container {
  width: 60%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.required {
  color: red;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Summary Section */
.summary {
  width: 35%;
  margin-left: 20px;
}

.details-section,
.list-section {
  margin-bottom: 15px;
}

.quantity {
  float: right;
  color: #555;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  width: 80%;
  padding: 20px;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  font-size: 20px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background: #f9f9f9;
  text-align: left;
  padding: 8px;
}

tbody td {
  padding: 8px;
  border: 1px solid #ddd;
}
