.dashboard {
    padding: 20px;
  }

  .header h1 {
    margin: 30px 0px;
    color: #5b5b5b;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
  }
  
  .header h3 {
    text-align: center;
    border-color: #000;
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .current-availability .availability-grid {
    display: flex;
    gap: 20px;
  }
  
  .availability-item {
    text-align: center;
  }
  
  .availability-item .number {
    font-size: 48px;
    font-weight: bold;
  }

  .availability-item .text{
    color: #5b5b5b;
    font-size: 16px;
  }

.line {
    border-right: 1px solid #ddd;

  }
  
  .inventory-summary .summary-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.low-stock-alert-grid{
  display: flex;
  gap: 10x;
  flex-direction: column;
}
  
  
  .low-stock-alert .availability-item {
    display: flex;
    justify-content: space-between; /* Ensure the text is left and number is right */
    width: 75%; /* Ensure the items take the full width of the container */
    margin-bottom: 10px;
  }

  .label{
    color: #5B5B5B;
  }

  .value{
    color: #000;
  }
  
  .low-stock-alert .availability-item .label {
    font-weight: normal;
  }
  
  .low-stock-alert .availability-item .value {
    font-weight: bold;
  }
  
  .low-stock {
    color: red;
  }

  .low-stock-label {
    color: red;
    font-weight: bold;
  }
  

  .progress-circle {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(#98ED9B 90%, #ddd 0%);
  }
  
  .progress-circle .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #f4f4f4;
  }
  
  